.tier-manager-container {
  padding: .5rem;
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;

  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 0.5rem); // subtract gaps
    border-radius: 1rem;
    min-height: 20rem;

    &--header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &--label {
        margin: 0;
      }
      &--icon {
        &:hover {
          cursor: grab;
        }
      }
    }

    &--content {
      height: 100%;
    }
  }
}
