<div
  class="player-list"
  cdkDropList
  [cdkDropListData]="players"
  [cdkDropListConnectedTo]="connectedListIds"
  [id]="listId"
  [ngClass]="{ 'player-list__empty': !players.length }"
  (cdkDropListDropped)="drop($event)">
  @for (player of players; track player.name) {
    <div class="player-list__item" cdkDrag>
      <div class="name-container">
        <span>{{ player.name }}</span>
        <span>{{ player.team }}</span>
      </div>
      <span>BYE {{ player.byeWeek }}</span>
    </div>
  }
  @if (!players.length) {
    <div>Drag Players Here</div>
  }
</div>
