.player-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid var(--mat-sys-outline);
    margin-top: 1rem;
    .name-container {
      display: flex;
      flex-direction: column;

      &--subtitle {
        font-size: .8rem;
      }
    }
    &--drafted {
      text-decoration: line-through;
      opacity: 25%;
    }
  }

  &__empty {
    border: dotted 1px var(--mat-sys-outline);
    justify-content: center;
    align-items: center;
  }
}
