@use '@angular/material' as mat;

.main {
  height: 100%;
  width: 100%;
}

.side-nav {
  width: 15%;
  height: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--mat-sys-surface);
  }


  &__title {
    text-align: center;
  }

  &__position-toggle-group {
    flex: 0 1 auto;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__item {
      text-align: center;
      width: 100%;
    }
  }

  &__player-list {
    flex: 1 1 auto;
    padding: .5rem;
  }
}

.content {
  width: 85%;
}
