<mat-drawer-container class="main">
  <mat-drawer class="side-nav" mode="side" opened>
    <div class="side-nav__header">
      <h3 class="side-nav__title">Why Do Boys Make Tiers?</h3>
      <mat-button-toggle-group hideSingleSelectionIndicator [formControl]="activeCategoryControl" class="side-nav__position-toggle-group">
        @for (cat of playerCategories(); track cat.position) {
          <mat-button-toggle
            class="side-nav__position-toggle-group__item"
            [value]="cat">
            {{ cat.position }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    <div class="side-nav__player-list">
      <app-player-list listId="primary-list" [connectedListIds]="connectedListIds" [players]="playerPool()" (playerDrop)="handlePlayerDrop($event)"/>
    </div>
    <div class="side-nav__action-bar">
      <mat-slide-toggle [formControl]="draftModeControl">Draft Mode</mat-slide-toggle>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    @if (activeCategoryControl.value) {
      <app-tier-manager
        [isDraftModeEnabled]="draftModeControl.value"
        [activeCategory]="activeCategoryControl.value.position"
        [connectedListIds]="connectedListIds"
        [tiers]="tiers"
        (add)="addTier()"
        (delete)="deleteTier($event)"/>
    }
  </mat-drawer-content>
</mat-drawer-container>
