@use "@angular/material" as mat;
@use "assets/styles/dark";
@use "assets/styles/drag-drop";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

@font-face {
  font-family: 'Cooper Black';
  src: url('./assets/fonts/COOPBL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cooper Black', sans-serif;
}
