@use "@angular/material" as mat;

@include mat.theme-overrides((
  primary: #ffb2bf,
  on-primary: #660027,
  primary-container: #90003a,
  on-primary-container: #ffd9de,
  inverse-primary: #bc004e,
  primary-fixed: #ffd9de,
  primary-fixed-dim: #ffb2bf,
  on-primary-fixed: #3f0015,
  on-primary-fixed-variant: #90003a,
  secondary: #afc6ff,
  on-secondary: #002d6d,
  secondary-container: #084396,
  on-secondary-container: #d9e2ff,
  secondary-fixed: #d9e2ff,
  secondary-fixed-dim: #afc6ff,
  on-secondary-fixed: #001944,
  on-secondary-fixed-variant: #084396,
  tertiary: #ffb59a,
  on-tertiary: #512311,
  tertiary-container: #6c3925,
  on-tertiary-container: #ffdbcf,
  tertiary-fixed: #ffdbcf,
  tertiary-fixed-dim: #ffb59a,
  on-tertiary-fixed: #360f02,
  on-tertiary-fixed-variant: #6c3925,
  background: #151313,
  on-background: #e7e1e1,
  surface: #151313,
  surface-dim: #151313,
  surface-bright: #3b3838,
  surface-container-lowest: #100e0e,
  surface-container-low: #1d1b1b,
  surface-container: #211f1f,
  surface-container-high: #2c2929,
  surface-container-highest: #373434,
  on-surface: #e7e1e1,
  shadow: #000000,
  scrim: #000000,
  surface-tint: #dbc0c3,
  inverse-surface: #e7e1e1,
  inverse-on-surface: #323030,
  outline: #9b8e8f,
  outline-variant: #4f4445,
  neutral: #7a7676,
  neutral10: #1d1b1b,
  error: #ffb4ab,
  error-container: #93000a,
  on-error: #690005,
  on-error-container: #ffdad6,
  surface-variant: #4f4445,
  on-surface-variant: #d2c3c4,
  neutral-variant: #817475,
  neutral-variant20: #382e2f,
  inverse-secondary: #2e5baf,
  inverse-tertiary: #88503a,
));
