@use "@angular/material" as mat;

@include mat.theme-overrides((
  primary: #bc004e,
  on-primary: #ffffff,
  primary-container: #ffd9de,
  on-primary-container: #3f0015,
  inverse-primary: #ffb2bf,
  primary-fixed: #ffd9de,
  primary-fixed-dim: #ffb2bf,
  on-primary-fixed: #3f0015,
  on-primary-fixed-variant: #90003a,
  secondary: #2e5baf,
  on-secondary: #ffffff,
  secondary-container: #d9e2ff,
  on-secondary-container: #001944,
  secondary-fixed: #d9e2ff,
  secondary-fixed-dim: #afc6ff,
  on-secondary-fixed: #001944,
  on-secondary-fixed-variant: #084396,
  tertiary: #88503a,
  on-tertiary: #ffffff,
  tertiary-container: #ffdbcf,
  on-tertiary-container: #360f02,
  tertiary-fixed: #ffdbcf,
  tertiary-fixed-dim: #ffb59a,
  on-tertiary-fixed: #360f02,
  on-tertiary-fixed-variant: #6c3925,
  background: #fff8f7,
  on-background: #1d1b1b,
  surface: #fff8f7,
  surface-dim: #dfd9d8,
  surface-bright: #fff8f7,
  surface-container-lowest: #ffffff,
  surface-container-low: #f9f2f2,
  surface-container: #f3ecec,
  surface-container-high: #ede7e6,
  surface-container-highest: #e7e1e1,
  on-surface: #1d1b1b,
  shadow: #000000,
  scrim: #000000,
  surface-tint: #6e595c,
  inverse-surface: #323030,
  inverse-on-surface: #f6efef,
  outline: #807475,
  outline-variant: #d2c3c4,
  neutral: #7a7676,
  neutral10: #1d1b1b,
  error: #ba1a1a,
  error-container: #ffdad6,
  on-error: #ffffff,
  on-error-container: #410002,
  surface-variant: #efdfe0,
  on-surface-variant: #4f4445,
  neutral-variant: #817475,
  neutral-variant20: #382e2f,
  inverse-secondary: #afc6ff,
  inverse-tertiary: #ffb59a,
));
